replicaCount: 1

image:
  repository: pro.registry.gitlab.metadata.dev.cf-deployments.org/base-infrastructure/docker-registry/voting-app
  tag: "0.0.1"
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""


service:
  type: ClusterIP
  port: 9091

ingress:
  enabled: true


ledgerFollowerAppUrl: http://cf-cardano-ballot-ledger-follower-api-voting-ledger-follower-ap:9090

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

diagnosticMode:
  enabled: false

corsAllowedOrigins: https://api.dev.cf-cip1694-preprod.eu-west-1.metadata.dev.cf-deployments.org
springProfiles: dev--preprod
bindOnEventIds: CIP-1694_Pre_Ratification_4619
