.tooltip {
  background: #1d439b !important;
  padding: 12px 16px !important;
  margin: 0px !important;
  &.tooltipFullWidth {
    max-width: 100% !important;
  }
  .tooltipTitle {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .tooltipDescription {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
