.custom-toast {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.common {
  background-color: #03021f;
  color: #f5f9ff;
}
.verified {
  background-color: #03021f;
  color: #f5f9ff;
}
.error {
  background-color: #c20024 !important;
  color: #f5f9ff;
}
.warn {
  background-color: #fd873c;
  color: #652701;
}
