# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
.idea
db-data
logs
build
.gradle
*.log
node_modules


.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### H2 DB
*-db*.db

### VS Code ###
.vscode/

### Yaci-Store
logs/*
jpb-settings.xml

application-prod.properties
bin
