# Vote Verification

The Vote Verification Application allows user to autonomously verify they're vote is on chain.

## Running the Vote Verification app

The Vote Verification app consists in a back-end and front-end applications and depends on the Ledger Follower app.

