.footer {
  display: flex !important;
  justify-content: space-between !important;
  background: 'transparent';
  box-shadow: 'none';
  padding: '10px';
  bottom: '0 !important';
}

.link {
  justify-content: center !important;
  color: #39486c !important;
  cursor: pointer !important;
  display: flex !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
