.button-container {
  position: relative;
  z-index: 1300;
  .main-button {
    position: relative;
    z-index: 1301;
    border-radius: 12px;
    border: 1px solid var(--orange, #ee9766);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--orange, #ee9766);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: none;
  }
  .main-button:hover {
    border-color: var(--neutralLightest, #faf9f6);
    color: var(--neutralLightest, #faf9f6);
  }
  &:hover .disconnect-wrapper {
    display: block;
  }

  &:hover .arrow-icon svg {
    transform: rotate(180deg);
  }
}

.arrow-icon {
  display: inline-flex;
  align-items: center;

  svg {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
  }
}

.disconnect-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: #121212;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  .disconnect-button {
    width: 100%;
    text-transform: none;
  }
}

.menu-button {
  width: 100%;
  text-transform: none;
  cursor: pointer;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #121212;
  color: var(--neutralLightest, #faf9f6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 44px;

  .MuiTypography-root {
    font-size: 12px;
  }
}
.verify-button.MuiButton-root {
  width: 100%;
  display: inline-flex;
  padding: 14px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  background-color: var(--color-light-green) !important;
  transition: transform 0.3s ease;
  color: var(--color-ultra-dark-blue);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: none;

  span {
    padding-top: 3px;
  }
}

.connected-button.MuiButton-root {
  border-radius: 12px;
  border: 1px solid #d2d2d9;
  background: var(--color-light-blue);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: none;
  color: var(--color-dark-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.connected-button.MuiButton-root:hover {
  border: 1px solid #d2d2d9;
  background: var(--color-light-blue);
}
