.vote {
  .title {
    color: #061d3c !important;
    font-weight: 600 !important;
    margin-bottom: 12px !important;
    text-align: left !important;
  }

  .description {
    color: #061d3c !important;
    font-weight: 600 !important;
    letter-spacing: 0em !important;
  }

  .button {
    background: #1d439b;
    border-radius: 8px !important;
    color: #f5f9ff !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    height: 49px !important;
    line-height: normal !important;
    text-transform: unset !important;
    white-space: nowrap !important;
    width: 100% !important;
    box-shadow: none !important;
    &.secondary {
      border: 1px solid #bbb;
      color: #39486c !important;
      background: #f5f9ff;
      &:hover {
        border: 1px solid #1d439b !important;
        background: rgba(29, 67, 155, 0.1) !important;
        box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
      }
    }
    &.disabled {
      background: #bbbbbb;
      color: #39486c !important;
    }
  }
}

.categoryPagination {
  color: #39486c !important;
  flex-shrink: 0 !important;
  font-weight: 400 !important;
  letter-spacing: 0em !important;
  padding-left: 20px !important;
}
