stage: pro

network: main

domain: pro.cf-summit-2023-mainnet.eu-west-1.voting.summit.cardano.org

cf-summit-2023-infra:
  enabled: true
  postgresql:
    enabled: false

cf-summit-2023-ui:
  enabled: true
  values:
    frontendUrl: https://{{ .Values.domain }}
    votingAppServerUrl: https://api.pro.cf-summit-2023-mainnet.eu-west-1.voting.summit.cardano.org
    votingLedgerFollowerAppServerUrl: https://follower-api.pro.cf-summit-2023-mainnet.eu-west-1.voting.summit.cardano.org
    votingVerificationAppServerUrl: https://verification-api.pro.cf-summit-2023-mainnet.eu-west-1.voting.summit.cardano.org
    userVerificationServerUrl: https://user-verification.pro.cf-summit-2023-mainnet.eu-west-1.voting.summit.cardano.org
    targetNetwork: MAIN
    eventId: CARDANO_SUMMIT_AWARDS_2023
    discordChannelUrl: https://discord.gg/FeCbA2wYF8
    discordBotUrl: https://discord.gg/65Hq3gqFwE
    discordSupportChannelUrl: https://discord.gg/svAcdYjMXx
    showWinners: "false"
    showHydraTally: "false"
    image:
      tag: 0.2.64-42-d8ccc
    ingress:
      additionalDomains:
        - voting.summit.cardano.org

cf-summit-2023-voting-api:
  enabled: true
  values:
    useJwt: true
    leaderboardForceResults: "false"
    resources:
      limits:
        cpu: 2
        memory: 5Gi
      requests:
        cpu: 1
        memory: 3Gi
    instances:
      - name: passive
        active: "false"
        replicas: 2
      - name: active-hour
        active: "true"
        voteCommitmentCronExpression: "0 0 * * * *"
      - name: active-half-hour
        active: "true"
        voteCommitmentCronExpression: "0 30 * * * *"
    image:
      tag: 0.2.64-41-d689d
    ledgerFollowerAppUrl: http://cf-summit-2023-ledger-follower-api-voting-ledger-follower-app:9090
    corsAllowedOrigins: https://{{ .Values.domain }}
    yaci:
      startBlockHash: c5255819ac8c2112b483e031cdd1b3fd69dfbe591a0dc9e46d6e2db36907ee7c
      startSlotNumber: "104284818"
      network: main
      cardanoNodeHost: relays-new.cardano-mainnet.iohk.io
      cardanoNodePort: "3001"
      cardanoNodeProtocolMagic: "764824073"
    rollbackHandlingEnabled: "false"
    monitoring:
      alerting:
        enabled: false
    ingress:
      additionalDomains:
        - api.voting.summit.cardano.org

cf-summit-2023-verification-api:
  enabled: true
  values:
    image:
      tag: 0.2.55
    ledgerFollowerAppUrl: http://cf-summit-2023-ledger-follower-api-voting-ledger-follower-app:9090
    corsAllowedOrigins: https://{{ .Values.domain }}

cf-user-verification-service:
  enabled: true
  values:
    image:
      tag: 0.2.55
    discordBotEventIdBinding: CF_SUMMIT_2023_TEST2
    ledgerFollowerAppUrl: http://cf-summit-2023-ledger-follower-api-voting-ledger-follower-app:9090
    corsAllowedOrigins: https://{{ .Values.domain }}

cf-summit-2023-ledger-follower-api:
  enabled: true
  values:
    image:
      tag: 0.2.64-41-d689d
    springProfiles: prod
    bindOnEventIds: CARDANO_SUMMIT_AWARDS_2023
    yaci:
      startBlockHash: 6bb9228e3b746366e24f2681021d619395b850b34c2db020c4928285dcf7b0c2
      startSlotNumber: "103209875"
      network: main
      cardanoNodeHost: relays-new.cardano-mainnet.iohk.io
      cardanoNodePort: "3001"
      cardanoNodeProtocolMagic: "764824073"
    corsAllowedOrigins: https://{{ .Values.domain }}
    instances:
#      - name: follower-1
#        enabled: true
##        imageTag: 0.2.37
#        schemaName: follower_1
#      - name: follower-2
#        enabled: true
##        imageTag: 0.2.37
#        schemaName: follower_2
      - name: follower-hydra-tally
        enabled: true
#        imageTag: v0.2.64-233-g1c0accbf
        schemaName: follower_hydra_tally
      - name: follower-hydra-tally-2
        enabled: true
#        imageTag: v0.2.64-233-g1c0accbf
        schemaName: follower_hydra_tally_2
    cardanoSnapshotBoundsCheckEnabled: "true"
    startupProbe:
      initialDelaySeconds: 0
      periodSeconds: 30
      failureThreshold: 20

cf-discord-wallet-verification-bot:
  enabled: true
  values:
    image:
      tag: 11f6f15
    backendBaseUrl: https://user-verification.{{ .Values.domain }}
    frontendUrl: https://{{ .Values.domain }}
    diagnosticMode:
      enabled: false
