@import 'swiper/css';
@import 'swiper/css/autoplay';

.slides {
  display: flex;
  :global {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    // Style the pagination
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
    }

    .page-indicator,
    .page-indicator-active {
      margin: 0 0.25rem;
      background: var(--color-dark-grey);
      opacity: 0.5;
      width: 15px;
      height: 15px;
      border-radius: 8px;
    }
    .play-container {
      position: absolute;
      right: 0;
    }
    .play-indicator {
      color: var(--color-dark-grey);
      width: 33px;
      height: 33px;
      transition: transform 0.3s ease-out;
    }
    .play-indicator.clicked {
      transform: scale(1.2);
    }

    .page-indicator-active {
      width: 30px !important;
      opacity: 1 !important;
      transition: width 1s;
    }

    .text-fadein {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    .text-fadein-down {
      animation-name: fadeInDown;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateX(50px);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.sliderWrapper {
  justify-content: flex-start !important;
}

.swiperContainer {
  width: 100%;
}

.title {
  color: #061d3c !important;
  font-weight: 500 !important;
  letter-spacing: normal !important;
  margin-bottom: 12px !important;
}

.description {
  color: #39486c !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  text-align: left !important;
}

.button {
  background: #1d439b !important;
  border-radius: 8px !important;
  color: #f5f9ff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  height: 49px !important;
  line-height: normal !important;
  text-transform: unset !important;
  white-space: nowrap !important;
  width: 131px !important;
}

.heroStyleImg {
  border-radius: 16px;
  display: block;
  height: auto;
  object-fit: contain;
  width: 100%;
}
