.root {
  // TODO: is not applied
  min-height: 218px !important;
  align-items: start;
  padding: 16px;
  color: rgba(57, 72, 108, 0.65);
  border-radius: 8px;
  outline: none;
  &.filled {
    color: #39486c;
  }

  fieldset {
    border-color: #39486c !important;
    border-width: 1px !important;
  }
}
