.option-card-group {
  .option-card {
    background: #fcfcfc;
    height: 138px;
    width: 300px;
    margin: 20px !important;
    box-shadow: 2px 2px 5px rgba(6, 29, 60, 0.25) !important;
    border-radius: 16px !important;
  }
  .option-card-selected {
    color: #92ffc0 !important;
    background-color: #061d3c !important;
  }
  :hover,
  :active {
    color: #92ffc0 !important;
    background-color: #061d3c !important;
  }
}
