.optionCard {
  border: 1px solid transparent !important;
  box-shadow: 2px 2px 5px 0px rgba(6, 29, 60, 0.25) !important;
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  width: 100%;
  position: relative;

  &.selected,
  &:hover,
  &:active {
    background: rgba(29, 67, 155, 0.1) !important;
    border: 1px solid #1d439b !important;
    box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
  }
}

.label {
  color: #39486c !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: normal !important;
  text-transform: none !important;
}

.checkContainer {
  position: absolute;
  right: 16px;
  width: 23px;
  height: 23px;
  border: 1px solid #bbbbbb;
  border-radius: 50%;

  .checkIcon {
    color: #1d439b;
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
