.userguide {
  .sectionTitle {
    max-height: 110px;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    color: var(--color-dark-grey);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    word-break: break-word;
  }
}
