{{- if .Values.ingress.enabled -}}
{{- $fullName := include "user-verification-service.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "user-verification-service.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
    traefik.ingress.kubernetes.io/router.middlewares: {{ printf "%s-%s@kubernetescrd" .Release.Namespace $fullName }}
spec:
  rules:
    - host: "user-verification.{{ .Values.domain }}"
      http:
        paths:
{{ if .Values.ingress.disableActuatorEndpoint }}
          - path: /actuator
            pathType: Prefix
            backend:
              service:
                name: nginx-not-found
                port:
                  number: 80
{{ end }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
    {{- range $domain := .Values.ingress.additionalDomains }}
    - host: {{ $domain }}
      http:
        paths:
{{ if $.Values.ingress.disableActuatorEndpoint }}
          - path: /actuator
            pathType: Prefix
            backend:
              service:
                name: nginx-not-found
                port:
                  number: 80
{{ end }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
    {{- end }}
  tls:
    - hosts:
        - "user-verification.{{ .Values.domain }}"
{{ with .Values.ingress.additionalDomains }}
        {{- toYaml . | nindent 8 }}
{{ end }}
{{ end }}
