.optionCard {
  border-radius: 16px !important;
  border: 1px solid transparent !important;
  box-shadow: 2px 2px 5px 0px #061d3c40 !important;
  display: flex !important;
  flex-direction: column !important;
  margin: 0px !important;
  padding: 30px;

  .optionTitle {
    color: #061d3c !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
  }

  .optionSummary {
    color: #39486c !important;
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 47px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
