apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "voting-app-ui.fullname" . }}
  labels:
    {{- include "voting-app-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "voting-app-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "voting-app-ui.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: REACT_APP_SERVER_URL
              value: https://dev.cf-cip1694-preprod.eu-west-1.metadata.dev.cf-deployments.org/
            - name: REACT_APP_TARGET_NETWORK
              value: PREPROD
            - name: REACT_APP_EVENT_ID
              value: CIP-1694_Pre_Ratification_4619
            - name: REACT_APP_CATEGORY_ID
              value: CIP-1694_Pre_Ratification_4619
            - name: REACT_APP_SUPPORTED_WALLETS
              value: flint,eternl,nami,typhon,yoroi,nufi,gerowallet,lace
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
#          livenessProbe:
#            httpGet:
#              path: /
#              port: http
#          readinessProbe:
#            httpGet:
#              path: /
#              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
