apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "voting-app-ui.fullname" . }}
  labels:
    {{- include "voting-app-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "voting-app-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "voting-app-ui.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: REACT_APP_VOTING_APP_SERVER_URL
              value: {{ tpl .Values.votingAppServerUrl . }}
            - name: REACT_APP_VOTING_LEDGER_FOLLOWER_APP_SERVER_URL
              value: {{ tpl .Values.votingLedgerFollowerAppServerUrl . }}
            - name: REACT_APP_VOTING_VERIFICATION_APP_SERVER_URL
              value: {{ tpl .Values.votingVerificationAppServerUrl . }}
            - name: REACT_APP_EVENT_ID
              value: {{ .Values.eventId }}
            - name: REACT_APP_CATEGORY_ID
              value: {{ .Values.categoryId }}
            - name: REACT_APP_GOOGLE_FORM_URL
              value: {{ .Values.googleGormUrl }}
            - name: REACT_APP_GOOGLE_FORM_VOTE_CONTEXT_INPUT_NAME
              value: {{ .Values.googleFormVoteContextInputName }}
            - name: REACT_APP_TARGET_NETWORK
              value: {{ .Values.network | default "preprod" | upper | quote }}
            - name: REACT_APP_SUPPORTED_WALLETS
              value: "flint,eternl,nami,typhoncip30,yoroi,nufi,gerowallet,lace,begin,cardwallet"
            - name: REACT_APP_QUESTIONS
              value: {{ .Values.questions }}
            - name: REACT_APP_FAQ_URL
              value: {{ .Values.faqUrl }}
            - name: REACT_APP_DISCORD_URL
              value: "https://discord.gg/ePx29kgcTD"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
#          livenessProbe:
#            httpGet:
#              path: /
#              port: http
#          readinessProbe:
#            httpGet:
#              path: /
#              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
