.container {
  align-items: center !important;
  display: flex !important;
}

.logo {
  cursor: pointer !important;
  height: 29px !important;
}

.menuButton {
  border: 1px solid #bbbbbb !important;
  cursor: pointer;
  min-height: 32px !important;
  min-width: 32px !important;
  padding: 0 !important;
  .menuIcon {
    font-size: 21px !important;
    color: #061d3c !important;
  }
}
