.main-content {
  align-items: normal;
  margin-top: 50px;
}

.categories-title {
  color: var(--color-dark-grey);
  font-size: 28px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
}

.categories-title::first-letter {
  text-transform: uppercase;
}
