.categories {
  .title {
    color: var(--color-dark-grey);
    font-size: 32px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    ::first-letter {
      text-transform: uppercase;
    }
  }

  .card {
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 3px 10px 0px rgba(67, 70, 86, 0.45);
  }
}
