{{ if .monitoringEnabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "voting-ledger-follower-app.fullname" . }}
  labels:
    release: prometheus-stack
    {{- include "voting-ledger-follower-app.labels" . | nindent 4 }}
spec:
  endpoints:
    - path: /actuator/prometheus
      port: api
  namespaceSelector:
    matchNames:
      - {{ $.Release.Namespace }}
  selector:
    matchLabels:
      {{- include "voting-ledger-follower-app.labels" . | nindent 6 }}
{{ end }}