.container {
  color: #061d3c;
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 400;
  gap: 5px;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
  width: 100%;
  flex-wrap: wrap;
}

.skeleton {
  display: flex;
  flex: 1;
  font-size: 18px;
  max-width: 160px;
}
