body {
  font-family: 'Roboto', sans-serif;
}

.toast {
  padding: 0 !important;
  border-radius: 8px !important;
  background: #061d3c !important;
  color: #fff;
  min-width: auto !important;
  width: auto !important;
}
