.dialogTitle {
  align-items: center;
  background: #f5f9ff !important;
  color: #061d3c !important;
  display: flex;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  gap: 12px;
  line-height: normal !important;
  padding: 30px 30px 20px 30px !important;
}

.checkIcon {
  color: #43e4b7 !important;
  font-size: 28px !important;
}

.description {
  color: #39486c !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 22px !important;
}

.dialogContent {
  background: #f5f9ff !important;
  padding: 0px 30px 30px 30px !important;
}

.closeBtn {
  background: #eee !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  &:hover {
    background: darken(#eee, 5%) !important;
  }
  .closeIcon {
    color: #061d3c !important;
  }
}

.textArea {
  background: #f5f9ff !important;
  border-radius: 8px !important;
  border: 1px solid #cccccc !important;
  color: #39486c !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0em !important;
  line-height: 22px !important;
  max-height: 185px !important;
  min-height: 185px !important;
  overflow: auto !important;
  padding: 16px !important;
  resize: none !important;
  width: 100%;
  &::placeholder {
    color: #39486ca6 !important;
  }
}
.viewTxBtn {
  background: #f5f9ff !important;
  border-radius: 8px !important;
  border: 1px solid #bbbbbb !important;
  color: #061d3c !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  height: 100% !important;
  letter-spacing: 0em !important;
  line-height: 19px !important;
  text-transform: none !important;
  &:hover {
    background: rgba(29, 67, 155, 0.1) !important;
    border: 1px solid #1d439b !important;
    box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
  }
}

.button {
  background: #1d439b !important;
  border-radius: 8px !important;
  color: #f5f9ff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  height: 49px !important;
  line-height: normal !important;
  text-transform: unset !important;
  white-space: nowrap !important;
  width: 100% !important;
  box-shadow: none !important;
  &:hover {
    background: darken(#1d439b, 10%) !important;
  }
  &.disabled {
    background: #bbbbbb !important;
    color: #39486c !important;
    &:hover {
      background: #bbbbbb !important;
      color: #39486c !important;
    }
  }
  &.loading {
    background: #39486c !important;
    color: #f5f9ff !important;
    &:hover {
      background: #39486c !important;
      color: #f5f9ff !important;
    }
  }
}
