.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 85px;
  justify-content: space-between;
}

.link {
  align-items: center;
  color: #39486c;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  .underline {
    text-decoration: underline;
  }
}

.copyright {
  color: #39486c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
