.footer {
  display: flex !important;
  justify-content: space-between !important;
}

.link {
  align-items: center !important;
  color: #39486c !important;
  cursor: pointer !important;
  display: flex !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  .underline {
    text-decoration: underline !important;
  }
}

.copyright {
  color: #39486c !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
