.termsandconditions {
    .title {
      color: var(--color-dark-grey);
      font-size: 32px !important;
      font-style: normal;
      font-weight: 600 !important;
      line-height: normal;
      ::first-letter {
        text-transform: uppercase;
      }
    }
}