.title {
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  color: #061d3c !important;
}

.closeBtn {
  background: #eee !important;
  height: 45px !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  width: 45px !important;
  &:hover {
    background: darken(#eee, 5%) !important;
  }

  .closeIcon {
    color: #061d3c !important;
    font-size: 30px !important;
  }
}

.button {
  display: flex;
  flex: 1;
  background: #1d439b !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  color: #f5f9ff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  height: 49px !important;
  line-height: normal !important;
  text-transform: unset !important;
  white-space: nowrap !important;
  &.success {
    background: #43e4b7 !important;
    color: #061d3c !important;
  }
  &.secondary {
    border: 1px solid #bbb !important;
    color: #39486c !important;
    background: #f5f9ff !important;
    &:hover {
      border: 1px solid #1d439b !important;
      background: rgba(29, 67, 155, 0.1) !important;
      box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
    }
  }
}

.qrButton {
  border: 1px solid #bbbbbb !important;
  padding: 0 !important;
  min-width: 49px !important;
  .qrIcon {
    font-size: 20px !important;
    color: #061d3c !important;
  }
}

.label {
  color: #061d3c !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 0em !important;
  line-height: 22px !important;
  text-align: left !important;
  position: relative;
}

.labelButton {
  margin: -8px !important;
}

.labelIcon {
  color: #39486ca6 !important;
  font-size: 19px !important;
}

.tooltip {
  background: #1d439b !important;
  padding: 12px 16px !important;
  margin: 0px !important;
  &.tooltipFullWidth {
    max-width: 100% !important;
  }
  .tooltipTitle {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .tooltipDescription {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}

.input {
  padding: 8px 0px !important;

  .inputText {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #39486c !important;
    flex: 1;
    word-break: break-all;
  }

  .inputIconButton {
    align-self: center;
    margin: -8px;
    &[data-receiptkey='voteProof'] {
      align-self: baseline;
      margin-top: -5px;
    }
  }

  .inputIcon {
    color: #39486ca6 !important;
    font-size: 19px;
  }

  :global {
    .MuiBox-root {
      font-family: 'Courier Prime', monospace !important;
    }
  }
}

.toast {
  align-items: center;
  background: #061d3c;
  display: flex;
  gap: 8px;

  .toastIcon {
    font-size: 19px !important;
    color: #f5f9ff !important;
  }

  .divider {
    height: 22px;
    width: 1px;
    background: #f5f9ffa6;
  }

  .toastClose {
    font-size: 16px;
    color: #f5f9ff;
    margin-left: -8px;
  }
}

.accordion {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 24px !important;
  width: 100% !important;
  &::before {
    content: none !important;
  }

  .showMoreBtn {
    align-items: center !important;
    background: #1d439b12 !important;
    border-radius: 8px !important;
    border: none !important;
    color: #1d439b !important;
    cursor: pointer !important;
    display: flex !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    gap: 10px !important;
    height: 52px !important;
    min-height: 52px !important;
    max-height: 52px !important;
    justify-content: space-between !important;
    letter-spacing: 0em !important;
    line-height: 19px !important;
    padding: 0px 25px !important;
    width: 100% !important;
    &:hover {
      background: darken(#1d439b12, 100%) !important;
    }
    .arrowIcon {
      size: 11px !important;
      color: #1d439b !important;
    }
  }
}
