.title {
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
}

.closeBtn {
  background: #eee !important;
  height: 45px !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  width: 45px !important;

  .closeIcon {
    color: #061d3c !important;
    font-size: 32px !important;
  }
}

.button {
  display: flex;
  flex: 1;
  background: #1d439b !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  color: #f5f9ff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  height: 49px !important;
  line-height: normal !important;
  text-transform: unset !important;
  white-space: nowrap !important;
  &.success {
    background: #43e4b7 !important;
    color: #061d3c !important;
  }
  &.secondary {
    border: 1px solid #bbb !important;
    color: #39486c !important;
    background: #f5f9ff !important;
    &:hover {
      border: 1px solid #1d439b !important;
      background: rgba(29, 67, 155, 0.1) !important;
      box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
    }
  }
}

.qrButton {
  border: 1px solid #bbbbbb !important;
  padding: 0 !important;
  min-width: 49px !important;
  .qrIcon {
    font-size: 20px !important;
    color: #061d3c !important;
  }
}

.label {
  color: #061d3c !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 0em !important;
  line-height: 22px !important;
  text-align: left !important;
  position: relative;
}

.labelButton {
  position: absolute !important;
  right: -34px;
}

.labelIcon {
  color: #39486ca6 !important;
  font-size: 19px !important;
}

.tooltip {
  background: #1d439b !important;
  padding: 12px 16px !important;
  margin: 0px !important;
  .tooltipTitle {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }

  .tooltipDescription {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}

.input {
  background: #fff !important;
  border-radius: 8px !important;
  box-shadow: 1px 2px 5px 0px #39486c26;
  cursor: pointer;
  left: 30px !important;
  padding: 12px 16px !important;
  top: 521px !important;

  .inputText {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #39486c !important;
    flex: 1;
    word-break: break-all;
  }

  .inputIconButton {
    align-self: center;
    margin: -8px;
    &[data-receiptkey='coseSignature'] {
      align-self: baseline;
      margin-top: -5px;
    }
  }

  .inputIcon {
    color: #39486ca6 !important;
    font-size: 19px;
  }
}

.toast {
  align-items: center;
  background: #061d3c;
  display: flex;
  gap: 8px;

  .toastIcon {
    font-size: 19px !important;
    color: #f5f9ff !important;
  }

  .divider {
    height: 22px;
    width: 1px;
    background: #f5f9ffa6;
  }

  .toastClose {
    font-size: 16px;
    color: #f5f9ff;
    margin-left: -8px;
  }
}
