.dialogTitle {
  background: #f5f9ff !important;
  color: #061d3c !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.description {
  color: #39486c !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 22px !important;
}

.dialogContent {
  background: #f5f9ff !important;
}

.closeBtn {
  background: #eee !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;

  .closeIcon {
    color: #061d3c !important;
  }
}

.button {
  background: #1d439b !important;
  border-radius: 8px !important;
  color: #f5f9ff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  height: 49px !important;
  line-height: normal !important;
  text-transform: unset !important;
  white-space: nowrap !important;
  width: 348px !important;
  box-shadow: none !important;
  &.secondary {
    border: 1px solid #bbb;
    color: #39486c !important;
    background: #f5f9ff !important;
    &:hover {
      border: 1px solid #1d439b !important;
      background: rgba(29, 67, 155, 0.1) !important;
      box-shadow: 2px 2px 5px 0px rgba(29, 67, 155, 0.25) !important;
    }
  }
}
