.container {
  display: flex;
  justify-content: center;
  background: #f5f9ff;
  .content {
    width: 1146px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
