body,
html,
#root,
.App {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f9ff !important;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @media (min-width: 1921px) {
    max-width: 2800px !important;
  }
}

.home-graphic-bg-top {
  position: absolute;
  width: 750px;
  height: 750px;
  left: -12.37px;
  top: -22%;
  border-radius: 100px;
  transform: rotate(1.27deg);
  opacity: 0.6;
  z-index: -1;

  @media (max-width: 420px) {
    display: none;
  }
}

.home-graphic-bg-bottom {
  position: absolute;
  width: 850px;
  height: 700px;
  right: -4.37%;
  top: 10%;
  border-radius: 100px;
  transform: rotate(-6.73deg);
  opacity: 0.6;
  z-index: -1;

  @media (max-width: 420px) {
    display: none;
  }
}

.toast {
  padding: 0 !important;
  border-radius: 8px !important;
  color: #fff;
  min-width: auto !important;
  width: auto !important;
  max-width: 450px !important;
  & > div {
    margin: 0px !important;
  }
}

.app-spinner.MuiCircularProgress-root {
  color: var(--color-ultra-dark-blue);
  stroke-width: 50;
}
