apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "summit-2023-ui.fullname" . }}
  labels:
    {{- include "summit-2023-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "summit-2023-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "summit-2023-ui.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: REACT_APP_VOTING_APP_SERVER_URL
              value: {{ .Values.votingAppServerUrl }}
            - name: REACT_APP_VOTING_LEDGER_FOLLOWER_APP_SERVER_URL
              value: {{ .Values.votingLedgerFollowerAppServerUrl }}
            - name: REACT_APP_VOTING_VERIFICATION_APP_SERVER_URL
              value: {{ .Values.votingVerificationAppServerUrl }}
            - name: REACT_APP_USER_VERIFICATION_SERVER_URL
              value: {{ .Values.userVerificationServerUrl }}
            - name: REACT_APP_TARGET_NETWORK
              value: {{ .Values.targetNetwork }}
            - name: REACT_APP_EVENT_ID
              value: {{ .Values.eventId }}
            - name: REACT_APP_SUPPORTED_WALLETS
              value: {{ .Values.supportedWallets | default "flint,eternl,nami,typhon,yoroi,nufi,gerowallet,lace" }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
#          livenessProbe:
#            httpGet:
#              path: /
#              port: http
#          readinessProbe:
#            httpGet:
#              path: /
#              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
